@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #2d25a0;
  height: 100vh;
}
/* nav-menu bar */
.navbar {
  display: flex;
  border: 1.5px solid black;
  padding: 30px 140px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-menu a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 2px;
  /* text-transform: uppercase; */

  color: white;

  margin-right: 36px;
  text-decoration: none;
}
/* button */
.btn {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #e02c6d;
}
.btn:hover {
  cursor: pointer;
  border: 1.5px solid #e41d66;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 20px rgba(46, 186, 229, 0.4);

  transform: translateY(-5px);
}
.btn a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;

  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
.btn:hover a {
  color: #e41d66;
}
/*  banner */
.top-banner,
.bottom-banner {
  border: 2px solid red;
  display: flex;
  align-items: center;
}
.left {
  border: 2px solid yellow;
  flex-basis: 50%;
  margin-left: 155px;
}
.top-head {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}
.right {
  border: 2px solid green;
  width: 50%;
}
.right img {
  width: 100%;
}

/* player card */

.container {
  margin: 80px 180px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: repeat(4, 456px);
  grid-auto-rows: 460px;
  grid-row-gap: 50px;
}
.player-info {
  width: 330px;
  height: 456px;
  padding: 15px;

  background-color: white;
  border-radius: 5px;

  box-shadow: 0.2rem 0.2rem 2rem rgba(158, 155, 153, 0.397);
}

.player-info img {
  width: 100%;
}
.player-info h1 {
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  margin: 10px 0px;
}

.player-info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "liga" off;

  color: #6c6c6c;
}
/* bottom banner */
.bottom-banner {
  margin-top: 150px;
}
.bottom-head {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: black;
}

.bottom-banner p {
  width: 85%;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;

  margin-bottom: 40px;
}
.bottom-right {
  width: 50%;
}
.bottom-right img {
  width: 80%;
}

/* footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 475px;
}
.footer-image {
  margin-right: 30px;
  width: 483px;
}
.footer-image img {
  width: 100%;
}
.social-icon i {
  color: #969bab;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  background-color: #e7e7e8;
}
.copyright p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
